<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Top Browser</title>
	<link rel="stylesheet" href="./style.css">
</head>

<body>
	<div class="toolbar">
		<div class="control">
			<div id="back" class="controlItem">
				<i class="fas fa-angle-left"></i>
			</div>
			<div id="forward" class="controlItem">
				<i class="fas fa-angle-right"></i>
			</div>
			<div id="home" class="controlItem">
				<i class="fas fa-home"></i>
			</div>
			<div id="reload" class="controlItem">
				<i class="fas fa-sync"></i>
			</div>
			<div id="stop" class="controlItem">
				<i class="fas fa-times"></i>
			</div>
		</div>
		<div class="searchbar">
			<input id="url" type="url" class="url" autofocus value="https://www.google.com/" />
		</div>
		<div class="control">
			<div id="sliders" class="controlItem dropdown">
				<i class="fas fa-sliders-h"></i>
				<div class="dropdown-content">
					<div>
						<span style="font-size: 14px;">Transparency: </span>
					</div>
					<div>
						<input id="opacity" type="range" min="1" max="100" value="100" class="slider">
					</div>
					<div>
						<span style="margin-right: 15px; font-size: 14px;">Ignore click:</span>
						<input id="ignoreMouse" type="checkbox" name="ignoreMouse" value="false">
					</div>
				</div>
			</div>
		</div>
	</div>
	<webview src="https://google.com/" nodeintegration plugins></webview>




	<script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://kit.fontawesome.com/de0d612571.js"></script>
	<script>
		if (window.module) module = window.module;
		require('./renderer.js');
	</script>
</body>

</html>