<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Top Browser</title>
	<link rel="stylesheet" href="./style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" href="../node_modules/toastr/build/toastr.min.css" />
	<script src="../node_modules/toastr/build/toastr.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
	<div id="vueApp">
		<div class="menuBar" v-if="showMenuBar">
			<div class="topBar">
				<div class="topButtons closeButton" v-on:click="exit">
					<i class="fas fa-times"></i>
				</div>
				<div class="topButtons minimizeButton" v-on:click="minimize">
					<i class="fas fa-minus"></i>
				</div>
				<div class="topButtons maximizeButton" v-on:click="maximize">
					<i class="fas fa-expand"></i>
				</div>
				<div class="draggable"></div>
			</div>
			<div class="toolBar">
				<button class="toolbarButtons backButton" type="button" v-on:click="back" :disabled="!canGoBack">
					<i class="fas fa-chevron-left"></i>
				</button>
				<button class="toolbarButtons forwardButton" type="button" v-on:click="forward" :disabled="!canGoForward">
					<i class="fas fa-chevron-right"></i>
				</button>
				<div class="toolbarButtons reloadStopButton" v-on:click="reloadStop">
					<i class="fas fa-redo" v-if="!loading"></i>
					<i class="fas fa-times" v-if="loading"></i>
				</div>
				<div class="toolbarInput">
					<input id="searchBar" type="url" v-model="currentLocation" @change="loadUri" placeholder="Type a URL" />
				</div>
				<button class="toolbarButtons bookmarksButton" type="button" v-on:click="showBookmarks">
					<i class="far fa-bookmark"></i>
				</button>
				<div class="bookmarksDropdown" v-if="showingBookmarks" @blur="showingBookmarks=false">
					<div class="bookmark" v-on:click="addBookmark">
						+ Bookmark this page
					</div>
					<div class="bookmark" v-for="(bookmark, index) in bookmarks" v-on:click="goBookmark(index)">
						{{bookmark.title}}
					</div>
				</div>
				<button class="toolbarButtons historyButton" type="button" v-on:click="showingHistory=true">
					<i class="fas fa-history"></i>
				</button>
			</div>
		</div>
		<div id="showBarButton" class="fadeInDown" v-on:click="showMenuBar=!showMenuBar">
			<i class="fas fa-angle-down" v-if="!showMenuBar"></i>
			<i class="fas fa-angle-up" v-if="showMenuBar"></i>
			<!-- add message to know what it is-->
		</div>
		<webview id="webview" :src="currentLocation" allowpopups webpreferences="nativeWindowOpen=true" plugins></webview>
	</div>
	<script>
		require('./renderer.js');
	</script>
</body>

</html>